@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');


.about-container {
    display: flex;
    flex-direction: row;
    margin: 100px 200px;
    font-family: 'Poppins', sans-serif;
}

.image-container {
    margin-right: 50px;
}

.image-about {
    width: 400px;
    height: 500px;
    object-fit: cover;
    box-shadow: 7px 7px 5px 0px #363636;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
}

.about-header {
    align-self: center;
    font-size: 20px;
    font-weight: 600;
}

.tag-about {
    font-weight: 700;
}